.main {
  min-height: 92dvh;
}

section {
  /* min-height: 80vh; */
  padding-top: 3%;
  padding-inline: 1%;
}

.grid {
  padding-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  /* padding-inline: 200px; */
}

.left {
  /* background-color: rgb(0, 104, 74); */
  display: grid;
  place-items: center;
  /* flex-shrink: 1; */
}

.left > div {
  color: white;
}

.right {
  width: 100%;
  max-width: 65%;

  border-radius: 10px;
  padding: 15px;
}

.registerSuccess {
  color: white;
  font-size: 1.5rem;
}
/*  */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 5px solid rgba(216, 33, 33, 0.863);
}
/*  */

@media (max-width: 1000px) {
}

@media (max-width: 768px) {
  .right {
    max-width: 80%;
  }
}

@media (max-width: 575px) {
  .main {
    height: auto;
  }
}
