@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Roboto:wght@300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html {
  width: 100%;
}

section {
  padding-inline: 5%;
}

h1 {
  font-weight: 500;
}

#welcome {
  /* padding-top: 5%; */
  /* padding-inline: 0; */
  color: #e8f0e6;
  /* border-color: rgb(0, 104, 74); */
  /* background-color: rgb(0, 104, 74); */
  background-image: url(./2bgimg2kcopy.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  height: 80dvh;
  display: flex;
  align-items: center;
  /* grid-template-columns: auto auto; */
  /* place-items: center; */
  padding-bottom: 40px;
}

#welcome img {
  object-fit: contain;
  /* width: 100%; */
  height: 400px;
  /* border-radius: 200px; */
  border-radius: max(0px, min(200px, (100% - 400px + 1px) * 9999)) / 200px;
}

#welcome a {
  color: #000000;
  background-color: #e8f0e6;
  padding: 10px 15px;
}

/* .hero {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  column-gap: 2%;
} */

#featured {
  padding-top: 1.5%;
  /* height: 70vh; */
  margin-bottom: 2em;
  /* padding-inline: 5em; */
}

#featured a:hover {
  text-decoration: underline;
}

/* .row {
  height: 100%;
} */

#featured .row div {
  column-gap: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.searchbox {
  display: flex;
  align-items: stretch;
  width: 100%;
}

#blogsdisplay {
  padding-top: 2em;
}

#blogsdisplay > h3 {
  margin-bottom: 1em;
}

#blogsdisplay .row {
  row-gap: 2em;
}

#blogsdisplay .row > div:hover {
  transform: translateY(-10px);
}

@media (max-width: 870px) {
  #welcome {
    grid-template-columns: 0.8fr auto;
  }
}

@media (max-width: 680px) {
  #welcome {
    /* color: rgb(48, 47, 47); */
    /* grid-template-columns: 1fr; */
    /* padding-top: 8%; */
    height: 93dvh;
    /* background-image: url(./mob2.jpg);
    backdrop-filter: blur(6px);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken; */
  }

  .welcome_text {
    margin-bottom: 1em;
    text-align: center;
  }
}

@media (max-width: 454px) {
  #welcome img {
    /* width: 60%; */
    /* border-radius: 50%; */
    /* border-radius: max(0px, min(50%, (100% - 100% + 1px) * 9999)) / 50%; */
  }

  .welcome_image {
    text-align: center;
  }
}
