<nav class="navbar navbar-expand-lg" [ngClass]="{ affix: scrolled }">
  <div class="container-fluid col justify-content-center" id="flex">
    <a class="navbar-brand text-white" routerLink="">Blog</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <div
      class="text-primary collapse navbar-collapse justify-content-end text-white navbar_links"
      id="navbarSupportedContent"
    >
      <a
        routerLink="home/create-post"
        class="nav_anchor btn"
        (click)="close.click()"
        >Create Post</a
      >
      <button
        *ngIf="!loggedIn"
        routerLink="home/login"
        class="nav_anchor btn"
        (click)="close.click()"
      >
        Login
      </button>
      <button
        *ngIf="loggedIn"
        class="nav_anchor btn"
        (click)="close.click()"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Logout
      </button>
    </div>
  </div>

  <button
    id="navbar_button"
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    #close
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div style="padding-bottom: 50px"></div>

<!-- Logout Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Confirm Logout
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="logout()"
        >
          Logout
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeModal.click()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
