#writeBlog {
  padding-top: 6%;
  /* padding-inline: 200px; */
}

/* #bannerDiv {
  max-width: 500px;
} */

#bannerIMG {
  max-width: 800px;
  /* height: 450px; */
  aspect-ratio: 16/9;
  object-fit: contain;
}

input,
textarea {
  max-width: 70%;
}

.filter {
  padding-inline: 20%;
}

.tag-label {
  width: 70%;
  text-align: left;
  text-decoration: underline;
  font-size: 1.1em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 25px;
}

.text-contents {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  /* grid-template-columns: auto; */
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  #bannerIMG {
    max-width: 90%;
  }
}
