#writeBlog {
  padding-top: 6%;
  /* padding-inline: 200px; */
}

input,
textarea,
.tags {
  max-width: 70%;
}

.tag-label {
  width: 70%;
  text-align: left;
  text-decoration: underline;
  font-size: 1.1em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 25px;
}

.text-contents {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  /* grid-template-columns: auto; */
  justify-content: center;
  align-items: center;
}
