.searchbar {
  padding-top: 4%;
}

.searchbox {
  padding-inline: 20%;
}

/* To create the merged feeling */
/* .searchbar input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchbar button {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

#showingResults {
  background-color: rgb(229, 243, 220);
}

a {
  text-decoration: none;
  color: black;
}

.main {
  min-height: 80dvh;
  padding-inline: 10px;
}

.row {
  row-gap: 2em;
}

.filter {
  padding-inline: 20%;
}

.filter button {
  /* text-decoration: underline; */
}

.filter button:hover {
  text-decoration: underline;
}

.tag-label {
  /* width: 70%; */
  text-align: left;
  text-decoration: underline;
  font-size: 1.1em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.search_result {
  padding-inline: 20px;
}

.search_result .card {
  height: 500px;
}

.card img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.search_result .row {
  row-gap: 2em;
}

.search_result .row > div:hover {
  transform: translateY(-10px);
}

* {
  /* overflow-x: hidden; */
}

@media (max-width: 767px) {
  .search_result .card {
    height: auto;
  }
}
