<section class="main">
  <section class="searchbar">
    <div class="d-flex searchbox">
      <input
        class="form-control"
        type="text"
        placeholder="Search the Blog"
        aria-label="Search the Blog"
        aria-describedby="button-search"
        [(ngModel)]="searchKey"
        #searchTerm
      />
      <button
        class="btn btn-success"
        id="button-search"
        type="button"
        (click)="searchBlog()"
      >
        Search
      </button>
    </div>
    <!-- showing results -->
    <div class="text-center mt-2 p-1" id="showingResults" *ngIf="showResults">
      <span class=""> Showing results for </span>
      <br />
      <h4>{{ searchTerm }}</h4>
    </div>
  </section>

  <section class="filter">
    <button class="btn" (click)="showFilter()">
      Filters <i class="fa-solid fa-angle-down" *ngIf="showTags"></i
      ><i class="fa-solid fa-angle-up" *ngIf="!showTags"></i>
    </button>
    <!-- <form [formGroup]="myForm" > -->
    <!-- Tag selection -->
    <!-- <div class="tag-label">Tags</div> -->
    <div class="tags" *ngIf="showTags">
      <div *ngFor="let tag of searchFilters" class="m-1 mt-0">
        <input type="checkbox" [value]="tag.name" [(ngModel)]="tag.selected" />
        {{ tag.name }}
        <!-- (change)="controlOnChange($event)" -->
      </div>
    </div>
    <!-- </form> -->
    <button class="btn" *ngIf="showTags" (click)="applyFilter()">
      Apply Filters
    </button>
  </section>

  <section class="search_result">
    <div class="row" *ngIf="finishLoading">
      <!-- *ngFor="let blog of currentPosts -->
      <div class="col-md-3" *ngFor="let posts of filteredPosts">
        <!-- | filter : searchTerm : 'title' : selectedTags -->
        <div class="card card-body bg-light">
          <h2>{{ posts.title }}</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div *ngIf="!finishLoading" class="m-5 d-flex justify-content-center">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span style="font-size: 1.1em" class="ms-3">Loading</span>
    </div>
  </section>
</section>
