<!-- Post content-->
<section class="main">
  <div class="row" *ngIf="finishLoading">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <!--  -->
      <article class="">
        <!-- Preview image figure-->
        <figure class="mb-4 d-flex justify-content-center">
          <img
            class="img-fluid rounded"
            [src]="post.banner.data"
            [alt]="post.banner.name"
          />
        </figure>
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
          <!-- author -->
          <div class="fw-bolder mb-2">
            By
            {{ post.author }}
          </div>
          <!-- Post date-->
          <div class="text-muted fst-italic mb-2">
            {{ post.date }}
          </div>
          <!-- Post Tags-->
          <div>
            <span
              *ngFor="let tag of tags"
              class="badge bg-secondary text-decoration-none me-2"
              >{{ tag.tag }}</span
            >
          </div>
        </header>

        <!-- Post content-->
        <section class="mb-5 display_section">
          <div
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(contentFinal)"
          ></div>
        </section>
      </article>
      <!--  -->
    </div>
    <div class="col-md-2 col-sm-1"></div>
  </div>
  <!--  -->
  <div *ngIf="!finishLoading" class="mb-5 postLoading">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span style="font-size: 1.1em" class="ms-3"
      >Loading Post...Please Wait</span
    >
  </div>
</section>
