.main {
  padding-top: 60px;
  /* margin-left: 300px; */
  display: flex;
  justify-content: center;
  padding: 10px;
  min-height: 100dvh;
  /* margin-inline: 300px; */
}

figure img {
  width: 100%;
  /* height: 450px; */
  aspect-ratio: 16/9;
  object-fit: contain;
}

h3 {
  margin-block: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

span {
  font-size: 1.1rem;
}

/* .display_section > div {
   width: 800px;
} */

/* .content_display{
    width: 100%;
} */
